html, body {
	height: 100%;
	width: 100%;
  margin: 0px;
  padding: 0px;
}

#events-map {
  height: 100%;
	width: 100%;
  z-index: 0;
}

.logo {
	max-width: 65px;
	margin-top: -8px;
}

.navbar-right {
  margin-right: 100px;
}

.navmenu {
  padding-top: 60px;
  z-index: 1;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    padding-right: 15px;
    width: 100%;
  }
  .canvas {
    padding: 0;
  }
}

.inp {
	text-align:right !important;
}
