html, body {
	height: 100%;
	width: 100%;
  margin: 0px;
  padding: 0px;
	overflow: hidden;
}

#events-map {
	float: left;
	width: 75%;
	padding-top: 50px;
}

#events-list {
	float: right;
	width: 25%;
	height: 100%;
	padding-top: 50px;
	overflow: hidden;
	overflow-y: scroll;
}

#events-list-toggle-container {
	float: right;
	height: 100%;
	width: 1%;
	padding-top: 50px;
	margin-left: -2%;
	z-index: 1;
}

#events-list-toggle {
	height: 100%;
	width: 100%;
}

#login-form {
  margin-right: 50px;
}

.canvas {
	height: 100%;
	width: 100%;
  z-index: 0;
}

.logo {
	max-width: 65px;
	margin-top: -8px;
}

.navmenu {
  padding-top: 60px;
  z-index: 1;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    padding-right: 15px;
    width: 100%;
  }
  .canvas {
    padding: 0;
  }
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.inp {
	text-align:right !important;
}
